@use '../vars/colors.scss' as color;

.btn{
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity .4s ease;
  &:hover{
    opacity: .75;
  }
  &-outline{
    padding: 0.7em 2.3em;
    border: .1em solid color.$pink;
    border-radius: 2em;
    font-size: .7em;
    color: color.$pink;
    background: none;
    background-color: color.$white;
    &:hover{
      opacity: .5;
      box-shadow: 0 0 .5em color.$pink;
    }
  };
  &-fill{
    padding: .8em 2em;
    border-radius: 2em;
    color: color.$white;
    background-color: color.$pink;
    &--sr{
      width: max-content;
      border-radius: .3em;
    }
  }
}